<!--
Launch driver components of Dingo's supported accessories.

Be careful that the defaults in this file are kept aligned with those
in the URDF. See dingo_description/urdf/accessories.urdf.xacro.
-->
<launch>
  <!-- Primary LMS1xx-series LIDAR, typically front-facing. -->
  <group if="$(optenv DINGO_LASER 0)">
    <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
      <param name="host" value="$(optenv DINGO_LASER_HOST 192.168.131.20)" />
      <param name="frame_id" value="$(optenv DINGO_LASER_MOUNT front)_laser" />
      <remap from="scan" to="$(optenv DINGO_LASER_TOPIC front/scan)" />
    </node>
  </group>

</launch>
